{% extends 'base.html' %}

{% block title %}List of students{% endblock %}

{% block content %}
    <h1>Welcome!</h1>
    {% for student in students %}
            <h3>{{ student['Ind_num'] }}</h3>


    {% endfor %}
{% endblock %}