{% extends 'base.html' %}

{% block title %}Students data{% endblock %}

{% block content %}
    <h1>Requirements:</h1>
    {% for i in html %}
            <h3>{{ i }}</h3>


    {% endfor %}
{% endblock %}