{% extends 'base.html' %}

{% block title %}Rates: {{ cur['Currency'] }}{% endblock %}

{% block content %}
    <h3>Rate of {{ cur['Currency'] }} to BTC: {{ cur['Rate'] }}</h3>
    <span class="badge bg-secondary">{{ cur['Date'] }}</span>
    <div class="d-grid gap-2 d-md-block">
        <a href="{{ url_for('list_currency') }}" class="btn btn-primary">Back to List</a>
    </div>
{% endblock %}