{% extends 'base.html' %}

{% block title %}List of currency{% endblock %}

{% block content %}
    <h1>Bitcoin rates</h1>
    {% for i in cur %}
        <a href="{{ url_for('detail_cur', currency=i['Currency']) }}">
            <h3>{{ i['Currency'] }} to BTC</h3>
        </a>
        <span class="badge bg-primary">{{ i['Date'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}