{% extends 'base.html' %}

{% block title %}Search result{% endblock %}

{% block content %}
    <h1>Search result</h1>
    {% for i in cur %}
        <a href="{{ url_for('detail_cur', currency=i['Currency']) }}">
            <h2>1 BTC = {{ i['Rate'] }} {{ i['Currency'] }}</h2>
        </a>
        <span class="badge bg-primary">{{ i['Date'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}