{% extends 'base.html' %}

{% block title %}Unique name list:{% endblock %}

{% block content %}
    <h1>Unique name list:</h1>
    {% for i in uniq_name %}
            <h3>{{loop.index}}. {{ i[0] }}</h3>


    {% endfor %}
{% endblock %}